.form {
  background-color: $pink;
  padding: 84px 0;

  @media (max-width:660px) {
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .images {
      margin-bottom: 20px;

      h4 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
      }

      >div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;

        img {
          width: 140px;
          height: 140px;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    }

    >div {
      padding: 48px 72px;
      border-radius: 32px;
      background-color: $white;
      margin-bottom: 48px;
      box-sizing: border-box;
      width: 100%;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width:1280px) {
        padding: 24px 40px;
        margin-bottom: 30px;
      }

      @media (max-width:1060px) {
        padding: 18px 30px;
        border-radius: 24px;
      }

      @media (max-width:960px) {
        background-repeat: 10px;
        padding: 16px 24px;
      }


      @media (max-width:460px) {
        padding: 12px;
      }



      h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        color: $black;

        @media (max-width:1060px) {
          font-size: 32px;
          line-height: 34px;
        }

        @media (max-width:960px) {
          font-size: 24px;
          line-height: 28px;
        }

        @media (max-width:660px) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  &__top {

    h2 {
      padding-bottom: 32px;

      @media (max-width:960px) {
        padding-bottom: 14px;
      }
    }

    p {
      max-width: 540px;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;

      @media (max-width:960px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .heart {
      position: absolute;
      top: -50px;
      right: -50px;
      width: 110px;
      height: 110px;

      @media (max-width:960px) {
        display: none;
      }

      svg {
        width: 100%;
        height: 100%;
      }

    }
  }


  [data-invalid] .formkit-inner {
    border-color: red;
    border-radius: 12px;
    box-shadow: 0 0 0 1px red;
  }

  [data-invalid] .formkit-inner::after {
    content: '❌';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  [data-complete] .formkit-inner {
    border-color: red;
    box-shadow: 0 0 0 1px green;
    border-radius: 12px;
  }

  [data-complete] .formkit-inner::after {
    content: '✅';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .formkit-messages {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 0;
  }


  .formkit-wrapper-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    &.row {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .formkit-form {
    width: 100%;
    position: relative;
    background-color: $white;
    padding: 48px;
    border-radius: 32px;
    box-sizing: border-box;

    h2 {
      text-align: left;
      margin-bottom: 56px;
    }
  }


  .formkit-outer {
    width: 49%;
    margin-bottom: 20px;
    position: relative;

    input,
    textarea {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      border-radius: 12px;
      padding: 20px 60px 20px 24px;
      box-sizing: border-box;
      border: 1px solid $text;
      color: $text;
    }

    textarea {
      height: 120px;
      resize: none;
    }

    label {
      margin-bottom: 12px;
      display: block;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .formkit-help {
    padding-top: 10px;
    font-size: 14px;
    color: lighten($black, 50);
  }

  .formkit-inner {
    position: relative;
  }



  [data-type="file"] {
    .formkit-inner {
      &::after {
        display: none;
      }
    }

    .formkit-file-remove {
      margin-left: 10px;
      margin-bottom: 10px;
      background-color: $pink;
      color: $black;
      padding: 12px 20px;
      border-radius: 14px;
    }

    .formkit-file-item {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .formkit-file-remove {
        width: 20px;
        height: 20px;
        position: relative;
        font-size: 0;

        &::after {

          content: '❌';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
        }
      }
    }
  }

  .formkit-no-files {
    display: none;
  }

  [data-type="submit"] {
    margin-top: 20px;

    button {
      background-color: $purple;
      border-radius: 56px;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      width: 160px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }
}