html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat' !important;
  font-weight: 500;
  color: $text;
  background-color: $white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width:1280px) {
    max-width: 1024px;
  }

  @media (max-width:1060px) {
    max-width: 920px;
  }

  @media (max-width:960px) {
    max-width: 620px;
  }

  @media (max-width:660px) {
    max-width: 420px;
  }

  @media (max-width:460px) {
    max-width: 320px;
    padding: 0 10px;
  }
}

.title {
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  color: $black;
  text-align: center;

  @media (max-width:1280px) {
    font-size: 32px;
  }

  @media (max-width:1060px) {
    font-size: 28px;
  }

  @media (max-width:960px) {
    font-size: 24px;
  }

  @media (max-width:660px) {
    font-size: 22px;
  }

  @media (max-width:460px) {
    font-size: 20px;
  }
}

.text {
  color: $text;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;

  @media (max-width:1280px) {
    font-size: 20px;
  }

  @media (max-width:1060px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width:960px) {
    font-size: 16px;
    line-height: 22px;
  }


}

.alert {
  position: fixed;
  width: 340px;
  right: 10px;
  bottom: 10px;
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 412412421124;

  @media (max-width:960px) {
    width: 260px;
    padding: 14px;
    font-size: 14px;
  }

  &.error {
    background-color: red;
    color: white;
  }
}


.admin__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width:960px) {
    flex-wrap: wrap;
    gap: 14px;
  }

  &-component {
    width: 62%;

    @media (max-width:1060px) {
      width: 50%;
    }

    @media (max-width:960px) {
      width: 100%;
    }
  }

  a {
    padding: 12px 24px;
    color: $black;
    border: 1px solid $black;
    border-radius: 64px;
    box-sizing: border-box;

    &.router-link-active {
      cursor: default;
      background-color: $pink;
      color: $white;
      border: 1px solid transparent;
    }
  }
}

.pagination {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__range {
    border-radius: 2px;
    border: 1px solid $text;
    color: $text;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background-color: $purple;
      border: 1px solid $purple;


      button {
        opacity: 100% !important;
        color: $white;
      }
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid $pink;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  justify-self: center;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.admin__top_link {
  margin-bottom: 20px;
  width: 280px;
}


.disable {
  cursor: default !important;
  pointer-events: none !important;
  opacity: 0.8 !important;

}